RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^$ /matches [L,R]
RewriteRule ^/?matches/(.+) /matches?mode=$1 [L]
RewriteRule ^/?match/.*?/(\d+) /match?id=$1 [L]
RewriteRule ^/?match/(\d+) /match?id=$1&name=false [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([^/]*)$ web/$1.php
RewriteRule ^/?js/([^/]*)$ web/js/$1
RewriteRule ^/?css/([^/]*)$ web/css/$1
RewriteRule ^(?!web)(.*) https://zdul.xyz/$1 [R]