ErrorDocument 404 /web/error/404.php
ErrorDocument 500 /web/error/500.php

RewriteEngine on

RewriteCond %{SERVER_NAME} !dev.zdul.xyz
RewriteCond %{SERVER_NAME} !bets.zdul.xyz
RewriteCond %{SERVER_NAME} !home.zdul.xyz
RewriteCond %{SERVER_NAME} !192.168.1.10
RewriteRule ^ https://home.zdul.xyz%{REQUEST_URI} [END,R=permanent]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^$ /login [L]
RewriteRule ^/?effect/.*?/(.+)$ /advanced_device_settings?device_id=$1 [L]
RewriteRule ^/?effect/.*?/(.+)$ /advanced_device_settings_advanced?device_id=$1 [L]
RewriteRule ^/?device/.*?/(.+)$ /device_settings?device_id=$1 [L]
RewriteRule ^/?device/(.+)$ /device_settings?device_id=$1&name=false [L]

# This checks whether the file exsits,
# if not the request will be redirected to the web/html folder
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^bootstrap/(.*) /vendor/twbs/bootstrap/$1 [L]
RewriteRule ^jquery/(.*) /vendor/components/jquery/$1 [L]
RewriteRule ^jqueryui/(.*) /vendor/components/jqueryui/$1 [L]
RewriteRule ^colorpicker/(.*) /lib/bootstrap-colorpicker/$1 [L] #using 7763122916206 commit from Github
RewriteRule ^slider/(.*) /node_modules/ion-rangeslider/$1 [L]
RewriteRule ^switch/(.*) /node_modules/bootstrap-switch/$1 [L]
RewriteRule ^tether/(.*) /node_modules/tether/$1 [L]
RewriteRule ^iconic/(.*) /node_modules/open-iconic/$1 [L]

RewriteRule ^(?!web/)(.*?\.(png|jpeg|jpg|svg))$ web/resources/$1 [L]

RewriteRule (?!dist/)js/(.*?)\.js$ dist/js/$1.js [L]
RewriteRule (?!dist/)css/(.*?)\.css$ dist/css/$1.css [L]
RewriteRule ^([^/]*)$ web/html/$1.php [L]
RewriteRule ^/?profile/(\d{1,2})/?$ web/html/profile.php?n_profile=$1
RewriteRule ^/?profile/new/?$ web/html/add_profile.php [L]
RewriteRule ^/?api/save/global/?$ api/save_global.php
RewriteRule ^/?api/get_html/timing_args/?$ api/timing_args.php
RewriteRule ^/?api/remove/profile/?$ api/remove_profile.php
RewriteRule ^/?api/save/profile/?$ api/save_devices.php
RewriteRule ^/?api/save/profile/params/?$ api/save_profile_params.php
RewriteRule ^/?api/enable_leds/?$ api/enable_leds.php
RewriteRule ^/?api/change_profile/?$ api/change_profile.php
RewriteRule ^/?api/jump_frame/?$ api/jump_frame.php
RewriteRule ^/?api/explicit_save/?$ api/explicit_save.php
RewriteRule ^/?api/events/?$ api/update_stream.php
RewriteRule ^/?api/debug/control?$ api/debug_control.php
RewriteRule ^/?api/debug/info?$ api/debug_info.php
RewriteRule ^/?api/debug/stream?$ api/debug_stream.php
